.DS_Store
/.build
/ContractTests/.build/
/ContractTests/Package.resolved
/WebInspectorKit/.build/
.build-temp
/Packages/WebInspectorNativeBridge/.build/
/Packages/WebInspectorNativeBridge/.swiftpm/
.swiftpm/*
!.swiftpm/xcode/
.swiftpm/xcode/*
!.swiftpm/xcode/xcshareddata/
.swiftpm/xcode/xcshareddata/*
!.swiftpm/xcode/xcshareddata/xcschemes/
.swiftpm/xcode/xcshareddata/xcschemes/*
!.swiftpm/xcode/xcshareddata/xcschemes/WebInspectorKit.xcscheme
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Tools/ObfuscateJS/node_modules/
node_modules/
/reference/
